In [50]:
import sqlite3
conn = sqlite3.connect("rating.db")
c = conn.cursor()

def table_create():
    cur.execute("""create table player (
        id_number integer, 
        name varchar(61), 
        fed char(3), 
        sex char(1), 
        title varchar(5), 
        women_title varchar(5),
        standard_rating integer,
        rapid_rating integer,
        blitz_rating integer,
        born_year integer
           )""")

table_create()

conn.commit()

# conn.close()

OperationalError: table player already exists

In [51]:
c.execute("select * from player")
tables = c.fetchall()
for player in tables:
    print(player)

In [85]:
def read_table():
    result = c.execute("select * from player").fetchall()
    for player in result:
        print(player)

def delete_rows():
    c.execute("delete from player")
    print('end delete')
        
def open_file():
    data = open("ratings.txt", "rt").readlines() # rt - read, text

    for line in data[1:]:
        id_number = int(line[:15])
        name = line[15:76].strip()
        fed = line[76:80]
        sex = line[80]
        title = line[86:91].strip()
        women_title = line[91:96].strip()
        standard_rating = int('0' + line[113:117].strip())
        rapid_rating = int('0' + line[126:132].strip())
        blitz_rating = int('0' + line[139:143].strip())
        born_year = int('0' + line[152:156].strip())
        
        sql_string = f'Insert Into player (id_number, name, fed, sex, title, women_title, standard_rating, rapid_rating, blitz_rating, born_year) values ({id_number}, "{name}", "{fed}", "{sex}", "{title}", "{women_title}", {standard_rating}, {rapid_rating}, {blitz_rating}, {born_year});'
        # print(sql_string)
        c.execute(sql_string)
    
    conn.commit()
    print('end open')


        # print(id_number, name, fed, sex, title, women_title, standard_rating, rapid_rating, blitz_rating, born_year)

# delete_rows()      
open_file()
# read_table()

end open

In [88]:
c.execute('Select count(*) from player').fetchone()

(1179984,)